[Unit]
Description=undervoltWatch

[Service]
Type=simple
ExecStart=/usr/bin/undervoltWatch
PIDFile=/var/run/undervoltWatch.pid
RemainAfterExit=no
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

